In [3]:
import pandas as pd
import csv
import requests
response= requests.get("https://coronavirus.m.pipedream.net/")
response

In [4]:
data= response.json()

In [5]:
data.keys()

dict_keys(['summaryStats', 'cache', 'dataSource', 'apiSourceCode', 'rawData'])

In [6]:
raw_data=data['rawData']

In [7]:
with open ("raw_data.csv","w",newline="") as f:
    writer = csv.DictWriter(f,fieldnames=["Country",'Confirmed','Deaths'])
    writer.writeheader()   #العناوين بتاع العماويد فى الاول 

    for element in raw_data:
        Country= element["Country_Region"]
        Confirmed= element["Confirmed"]
        Deaths= element["Deaths"]

        writer.writerow({"Country":Country,'Confirmed':Confirmed,'Deaths':Deaths})

In [8]:
raw_data=pd.read_csv("raw_data.csv")
raw_data

                 Country  Confirmed  Deaths
0            Afghanistan     157858    7322
1                Albania     203215    3130
2                Algeria     212434    6132
3                Andorra      19440     133
4                 Angola      65371    1737
...                  ...        ...     ...
4001             Vietnam    1382272   27402
4002  West Bank and Gaza     463573    4830
4003               Yemen      10056    1962
4004              Zambia     210724    3668
4005            Zimbabwe     155817    4723

[4006 rows x 3 columns]